.catalog {
  padding: 49px 0 109px;
  overflow: hidden;
}

.catalog__title {
  @include title;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.catalog__wrapper {
  padding: 59px calc((100vw - 320px) / 2) 80px;
}

.catalog__btn {
  display: block;
  width: 141px;
  margin: 0 auto;
  padding: 9px 0;
  background-color: $color-bg-primary;
  border: none;
  font-size: 10px;
  line-height: 13px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 16px;
  transition: $animation-primary;

  &:hover {
    color: $color-font-secondary;
    box-shadow: $shadow-primary;
  }

  &:active {
    opacity: 0.5;
  }
}

.catalog__item {
  margin-bottom: 50px;
}

.catalog__filters {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  box-shadow: $shadow-primary;
  width: 100vw;
  position: relative;
}

.catalog__filters-title {
  @include subTitle;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  padding: 20px calc((100vw - 320px) / 2);
  border-top: 1px solid rgba(0, 0, 0, 1);
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.catalog__filters-btn {
  @include subTitle;
  text-transform: uppercase;
  padding-left: 10px;
  padding-right: 0;
  border: 0;
  background-color: transparent;
  position: relative;
  cursor: pointer;

  &::before {
    content: "";
    display: block;
    width: 12px;
    height: 1px;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 2px;
    transform: rotate(45deg);
    position: absolute;
    right: -30px;
    bottom: 13px;
    transition: $animation-primary;
  }

  &::after {
    content: "";
    display: block;
    width: 12px;
    height: 1px;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 2px;
    transform: rotate(-45deg);
    position: absolute;
    right: -30px;
    bottom: 4px;
    transition: $animation-primary;
  }
}

.catalog__filters--active .catalog__filters-list {
  display: flex;
  background-color: rgba(255, 255, 255, 1);
  position: absolute;
  width: 100%;
  top: 40px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.catalog__filters--active .catalog__filters-btn {
  &::before {
    right: -20px;
    bottom: 8px;
  }

  &::after {
    right: -28px;
    bottom: 8px;
  }
}

.catalog__filters-list {
  list-style: none;
  padding: 40px calc((100vw - 320px) / 2) 30px;
  margin: 0;
  display: none;
  flex-direction: column;
  font-size: 9px;
  line-height: 12px;
  text-transform: uppercase;
}

.catalog__filters-item {
  margin-bottom: 10px;
  margin-left: 10px;
}

.catalog__filters-input {
  opacity: 0;
  position: absolute;
}

.catalog__filters-label {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.catalog__filters-input + .catalog__filters-label::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 10px;
  margin-right: 10px;
  transition: $animation-primary;
}

.catalog__filters-input + .catalog__filters-label::after {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: $color-bg-secondary;
  position: absolute;
  left: 4px;
  bottom: 4px;
  opacity: 0;
  transition: $animation-primary;
}

.catalog__filters-input:checked + .catalog__filters-label::after,
.catalog__filters-input + .catalog__filters-label:hover::after {
  opacity: 1;
}

.catalog__filters-input:focus + .catalog__filters-label {
  outline: 1px auto rgba(59, 153, 252, 1);
}

.catalog__filters-input + .catalog__filters-label:active {
  outline: none;
}

@media (min-width: $tablet-width) {
  .catalog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .catalog__wrapper {
    padding-left: 7.6%;
    padding-right: 7.6%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 48.2%);
    grid-template-rows: auto;
    grid-column-gap: 20px;
    grid-auto-flow: dense;
    grid-row-gap: 60px;
  }

  .catalog__item {
    margin-bottom: 0;
  }

  .catalog__filters-title {
    padding-left: 7.6%;
    padding-right: 7.6%;
  }

  .catalog__filters-list {
    padding-left: 7.6%;
    padding-right: 7.6%;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .catalog__filters-item {
    width: 30%;
  }
}

@media (min-width: $desktop-width) {
  .catalog__wrapper {
    padding-left: 5%;
    padding-right: 5%;
    grid-template-columns: repeat(3, 32.1%);
  }

  .catalog__filters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .catalog__filters-title {
    border: 0;
    padding-left: 5%;
    padding-right: 2%;
    background-color: $color-bg-primary;
  }

  .catalog__filters-btn {
    pointer-events: none;

    &:focus {
      outline: none;
    }

    &::before,
    &::after {
      display: none;
    }
  }

  .catalog__filters-list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 5% 20px 0;
    margin-right: auto;
    margin-left: auto;
  }

  .catalog__filters-item {
    width: auto;
    margin-left: 0;
    margin-bottom: 0;
  }
}
