.news {
  padding-top: 25px;
  padding-bottom: 15px;
  margin-left: 27px;
  margin-right: 29px;
}

.news--slide {
  border-bottom: 1.5px solid rgba(0, 0, 0, 1);
}

.news--slide:last-of-type {
  border-bottom: none;
}

.news__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.news__title {
  @include subTitle;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 13px;
}

.news__info {
  font-size: 11px;
  line-height: 14px;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .news {
    margin-left: 10px;
    margin-right: 10px;
  }

  .news--slide .news__image {
    width: 69.1%;
    height: 52%;

    @media (min-width: 800px) {
      width: 60%;
      height: 42%;
    }
  }

  .news__title {
    text-align: center;
  }

  .news__info {
    text-align: center;
  }
}

@media (min-width: $desktop-width) {
  .news--slide .news__image {
    width: 246px;
    height: 167px;
  }

  .news__title {
    font-size: 20px;
  }

  .news__info {
    font-size: 15px;
    line-height: 16px;
  }
}
