.page-footer {
  background-color: $color-bg-primary;
  padding: 28px 0;
}

.page-footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 26px;
}

.page-footer__contacts-title {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $color-font-secondary;
  margin-top: 0;
  margin-bottom: 26px;
}

.page-footer__contacts-item {
  margin-bottom: 16px;
}

.page-footer__contacts-item a {
  font-size: 10px;
  line-height: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: $animation-primary;

  &::before {
    content: "";
    background-repeat: no-repeat;
    background-size: cover;
    height: 15px;
    margin-right: 10px;
  }
}

.page-footer__contacts-item a:hover {
  color: $color-font-secondary;
}

.page-footer__tel::before {
  background-image: url("../img/phone.svg");
  width: 15px;
}

.page-footer__mail::before {
  background-image: url("../img/message.svg");
  width: 18px;
}

.page-footer__list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 26px;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__list-item {
  margin-bottom: 16px;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  transition: $animation-primary;
}

.page-footer__list-item--active,
.page-footer__list-item:hover {
  color: $color-font-secondary;
}

.page-footer__list-item--active {
  pointer-events: none;
}

.page-footer__logo {
  display: block;
  width: 79px;
  height: 68px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: $tablet-width) {
  .page-footer {
    display: flex;
    justify-content: space-between;
    padding-left: 11%;
    padding-right: 11%;
  }

  .page-footer__list {
    align-items: flex-start;
  }

  .page-footer__contacts {
    order: 2;
    align-items: flex-end;
  }

  .page-footer__logo {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    padding-left: 12.5%;
    padding-right: 12.5%;
  }
}
