.product-card--slider {
  margin: 32px 0;
}

.product-card__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  height: 173px;
}

.product-card__image-description {
  display: block;
  font-size: 8px;
  line-height: 10px;
  color: $color-font-primary;
  text-align: center;
  transition: $animation-primary;
}

.product-card__picture:hover .product-card__image-description {
  color: $color-font-secondary;
}

.product-card__picture:active .product-card__image-description {
  opacity: 0.5;
}

.product-card__title {
  @include subTitle;
  text-align: center;
  max-width: 320px;
  margin: 11px auto 0;
}

.product-card__info {
  padding-left: 0;
  margin: 31px auto 0;
  width: 320px;
}

.product-card--slider .product-card__info {
  width: auto;
  padding-left: 21px;
  margin-left: 0;
  margin-right: 0;
}

.product-card__info-row {
  display: flex;
  justify-content: flex-start;
  margin-top: 11px;
}

.product-card__argument {
  min-width: 82px;
  margin-right: 25px;
  font-size: 16px;
  line-height: 21px;
}

.product-card__value {
  font-size: 14px;
  line-height: 23px;
  color: $color-font-primary;
}

.product-card__btn {
  margin-left: auto;
  margin-right: auto;
  margin-top: 31px;
}

@media (min-width: $tablet-width) {
  .product-card--slider .product-card__image {
    width: 100%;
    height: 48%;
  }

  .product-card--slider .product-card__info {
    padding-left: 0;
  }

  .product-card__image {
    width: 270px;
  }

  .product-card__info {
    width: 270px;
  }
}

@media (min-width: $desktop-width) {
  .product-card--slider {
    width: 548px;
    margin-left: auto;
    margin-right: auto;
  }

  .product-card--slider .product-card__image {
    height: 345px;
  }

  .product-card--slider .product-card__info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .product-card--slider .product-card__info-row {
    width: 48%;
  }

  .product-card__image {
    width: 346px;
    height: 205px;
  }

  .product-card__image-description {
    font-size: 12px;
    line-height: 12px;
  }

  .product-card__info {
    width: 343px;
  }
}
