.wrapper {
  padding-left: calc((100vw - 320px) / 2);
  padding-right: calc((100vw - 320px) / 2);
}

.wrapper--main {
  background-color: $color-bg-primary;
}

@media (min-width: $tablet-width) {
  .wrapper {
    padding-left: 7.6%;
    padding-right: 7.6%;
  }

  .wrapper--main {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .wrapper {
    padding-left: 5%;
    padding-right: 5%;
  }

  .wrapper--main {
    padding-bottom: 40px;
  }
}
