@font-face {
  font-family: "PT Sans";
  font-display: swap;
  src: url("../fonts/PTSans-Regular.woff2"),
    url("../fonts/PTSans-Regular.woff");
  font-weight: 400;
}

@font-face {
  font-family: "PT Sans";
  font-display: swap;
  src: url("../fonts/PTSans-Bold.woff2"),
    url("../fonts/PTSans-Bold.woff");
  font-weight: 700;
}
