body {
  min-width: 320px;
  font: normal 12px/1.2 "PT Sans", "Arial", sans-serif;
  letter-spacing: 0.08em;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100vw;
}

* a {
  color: inherit;
  text-decoration: none;
}
